html,
body,
#app {
    font-size: 12px;
    background-color: #eaedf1;
    height: 100%;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

span.el-dialog__title {
    color: white;
}

.el-dialog__header {
    text-align: center;
}

.el-dialog__headerbtn .el-dialog__close {
    color: white;
}